.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.auth-box {
  width: 420px;
  padding: 40px;
  border-radius: 20px;
  background: linear-gradient(145deg, #0f172a, #1e293b);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  animation: popup 0.3s ease-in-out;
}

@keyframes popup {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.auth-box h2 {
  margin-bottom: 25px;
}

.auth-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: none;
  background: #0b1220;
  color: white;
}

.auth-box input:focus {
  box-shadow: 0 0 10px #38bdf8;
}

.auth-box button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #38bdf8, #6366f1);
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.auth-box button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.5);
}

.toggle-text {
  margin-top: 18px;
  cursor: pointer;
  color: #38bdf8;
}


