.admin-login,
.admin-orders {
  width: 400px;
  margin: 60px auto;
  padding: 20px;
  background: #f1f5f9;
  border-radius: 10px;
}

.admin-login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.admin-login button {
  width: 100%;
  padding: 10px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-orders table {
  margin-top: 20px;
}
